@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}